
    <div class="footer">
      Made with <span style="color: #e25555;">&#9829;</span> by Sgala - <a href="https://github.com/sgalam/swll-mobile-areonauticamilitare">Github <img id="github" src="github-logo.png"></a>
    </div>

</body>
</html>

