

{% include "header.j2" %}

{% for n in swll_data %}


  <div class="swll" {{ "swllactive=true" if n.get_active() }}>
    {% if n.get_active() %}
     <h1><span>CARTA ATTUALMENTE VALIDA</span></h1>
    {% endif %}
    <h3 class="swll-title">{{n.get_validity()}}</h3>

     <div class="illustration">
       <img src="am_charts/{{n.get_url_image_id()}}" referrerpolicy="origin">
     </div>
  </div>


{% endfor %}


{% include "footer.j2" %}